body {
    background-color: black;
    color: #fff;
}

h2 {
    text-decoration-line: underline;
    text-decoration-color: yellowgreen;
    text-shadow: 2px 2px red;
  }

h1 {
    text-decoration-line: overline underline;
    text-decoration-color: green;
  }

.site-footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}

.footer-section h3 {
    color: #f8f9fa;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px;
    }
}  

.soccer{
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* add 10px gap between rows and columns */
}

#image1 {
    float : right;
}